In [1]:
# Run this cell to import pyspark and to define start_spark() and stop_spark()

import findspark

findspark.init()

import getpass
import random
import re

import pandas
import pyspark
from IPython.display import HTML, display
from pyspark import SparkContext
from pyspark.sql import SparkSession

# Constants used to interact with Azure Blob Storage using the hdfs command or Spark

global username

username = re.sub("@.*", "", getpass.getuser())

global azure_account_name
global azure_data_container_name
global azure_user_container_name
global azure_user_token

azure_account_name = "madsstorage002"
azure_data_container_name = "campus-data"
azure_user_container_name = "campus-user"
azure_user_token = r"sp=racwdl&st=2025-08-01T09:41:33Z&se=2026-12-30T16:56:33Z&spr=https&sv=2024-11-04&sr=c&sig=GzR1hq7EJ0lRHj92oDO1MBNjkc602nrpfB5H8Cl7FFY%3D"


# Functions used below


def dict_to_html(d):
    """Convert a Python dictionary into a two column table for display."""

    html = []

    html.append(f'<table width="100%" style="width:100%; font-family: monospace;">')
    for k, v in d.items():
        html.append(f'<tr><td style="text-align:left;">{k}</td><td>{v}</td></tr>')
    html.append(f"</table>")

    return "".join(html)


def show_as_html(df, n=20):
    """Leverage existing pandas jupyter integration to show a spark dataframe as html.

    Args:
        n (int): number of rows to show (default: 20)
    """

    display(df.limit(n).toPandas())


def display_spark():
    """Display the status of the active Spark session if one is currently running."""

    if "spark" in globals() and "sc" in globals():

        name = sc.getConf().get("spark.app.name")

        html = [
            f"<p><b>Spark</b></p>",
            f'<p>The spark session is <b><span style="color:green">active</span></b>, look for <code>{name}</code> under the running applications section in the Spark UI.</p>',
            f"<ul>",
            f'<li><a href="http://localhost:{sc.uiWebUrl.split(":")[-1]}" target="_blank">Spark Application UI</a></li>',
            f"</ul>",
            f"<p><b>Config</b></p>",
            dict_to_html(dict(sc.getConf().getAll())),
            f"<p><b>Notes</b></p>",
            f"<ul>",
            f"<li>The spark session <code>spark</code> and spark context <code>sc</code> global variables have been defined by <code>start_spark()</code>.</li>",
            f"<li>Please run <code>stop_spark()</code> before closing the notebook or restarting the kernel or kill <code>{name}</code> by hand using the link in the Spark UI.</li>",
            f"</ul>",
        ]
        display(HTML("".join(html)))

    else:

        html = [
            f"<p><b>Spark</b></p>",
            f'<p>The spark session is <b><span style="color:red">stopped</span></b>, confirm that <code>{username} (notebook)</code> is under the completed applications section in the Spark UI.</p>',
            f"<ul>",
            f'<li><a href="http://mathmadslinux2p.canterbury.ac.nz:8080/" target="_blank">Spark UI</a></li>',
            f"</ul>",
        ]
        display(HTML("".join(html)))


# Functions to start and stop spark


def start_spark(
    executor_instances=2, executor_cores=1, worker_memory=1, master_memory=1
):
    """Start a new Spark session and define globals for SparkSession (spark) and SparkContext (sc).

    Args:
        executor_instances (int): number of executors (default: 2)
        executor_cores (int): number of cores per executor (default: 1)
        worker_memory (float): worker memory (default: 1)
        master_memory (float): master memory (default: 1)
    """

    global spark
    global sc

    cores = executor_instances * executor_cores
    partitions = cores * 4
    port = 4000 + random.randint(1, 999)

    spark = (
        SparkSession.builder.config(
            "spark.driver.extraJavaOptions",
            f"-Dderby.system.home=/tmp/{username}/spark/",
        )
        .config("spark.dynamicAllocation.enabled", "false")
        .config("spark.executor.instances", str(executor_instances))
        .config("spark.executor.cores", str(executor_cores))
        .config("spark.cores.max", str(cores))
        .config("spark.driver.memory", f"{master_memory}g")
        .config("spark.executor.memory", f"{worker_memory}g")
        .config("spark.driver.maxResultSize", "0")
        .config("spark.sql.shuffle.partitions", str(partitions))
        .config(
            "spark.kubernetes.container.image",
            "madsregistry001.azurecr.io/hadoop-spark:v3.3.5-openjdk-8",
        )
        .config("spark.kubernetes.container.image.pullPolicy", "IfNotPresent")
        .config("spark.kubernetes.memoryOverheadFactor", "0.3")
        .config("spark.memory.fraction", "0.1")
        .config(
            f"fs.azure.sas.{azure_user_container_name}.{azure_account_name}.blob.core.windows.net",
            azure_user_token,
        )
        .config("spark.app.name", f"{username} (notebook)")
        .getOrCreate()
    )
    sc = SparkContext.getOrCreate()

    display_spark()


def stop_spark():
    """Stop the active Spark session and delete globals for SparkSession (spark) and SparkContext (sc)."""

    global spark
    global sc

    if "spark" in globals() and "sc" in globals():

        spark.stop()

        del spark
        del sc

    display_spark()


# Make css changes to improve spark output readability

html = [
    "<style>",
    "pre { white-space: pre !important; }",
    "table.dataframe td { white-space: nowrap !important; }",
    "table.dataframe thead th:first-child, table.dataframe tbody th { display: none; }",
    "</style>",
]
display(HTML("".join(html)))

In [2]:
# Run this cell to start a spark session in this notebook

start_spark(executor_instances=4, executor_cores=2, worker_memory=4, master_memory=4)

Warning: Ignoring non-Spark config property: fs.azure.sas.campus-user.madsstorage002.blob.core.windows.net
Warning: Ignoring non-Spark config property: SPARK_DRIVER_BIND_ADDRESS
25/09/11 22:13:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
# Write your imports here or insert cells below

import re
import subprocess
from math import asin, cos, radians, sin, sqrt
from pprint import pprint

import numpy as np
import pandas as pd
from pyspark.sql import functions as F
from pyspark.sql.functions import udf
from pyspark.sql.types import *

In [77]:
# Paths global variables
DATA_ROOT = "wasbs://campus-data@madsstorage002.blob.core.windows.net/ghcnd/"
USER_ROOT = "wasbs://campus-user@madsstorage002.blob.core.windows.net/yxi75/"

paths = {
    "daily": DATA_ROOT + "daily/",
    "stations": DATA_ROOT + "ghcnd-stations.txt",
    "countries": DATA_ROOT + "ghcnd-countries.txt",
    "states": DATA_ROOT + "ghcnd-states.txt",
    "inventory": DATA_ROOT + "ghcnd-inventory.txt",
}

paths

stations_enriched_savepath = USER_ROOT + "stations_enriched_parquet"
station_count_by_country_path = USER_ROOT + "station_count_by_country_parquet"
station_count_us_terri_path = USER_ROOT + "station_count_us_terri_parquet"
country_meta_with_station_num_path = USER_ROOT + "country_meta_with_station_num"
states_meta_with_station_num_path = USER_ROOT + "states_meta_with_station_num"

# Analysis

## Q1 Station Study

### (a)

In [6]:
# load stations_enriched from saved path
stations_enriched = spark.read.parquet(stations_enriched_savepath)
stations_enriched.cache()
# check variable
show_as_html(stations_enriched)

,ID,STATE,COUNTRY_CODE,LATITUDE,LONGITUDE,ELEVATION,NAME,GSN_FLAG,HCN_CRN,WMO_ID,...,STATE_NAME,FIRSTYEAR_ANY,LASTYEAR_ANY,N_ELEMENTS,TMAX,TMIN,PRCP,SNOW,SNWD,N_CORE_ELEMENTS
0,AE000041196,,AE,25.3330,55.5170,34.0,SHARJAH INTER. AIRP,GSN,,41196,...,None,1944,2025,4,1,1,1,0,0,3
1,AEM00041218,,AE,24.2620,55.6090,264.9,AL AIN INTL,,,41218,...,None,1994,2025,4,1,1,1,0,0,3
2,AGE00147715,,AG,35.4200,8.1197,863.0,TEBESSA,,,,...,None,1879,1938,3,1,1,1,0,0,3
3,AGE00147717,,AG,35.2000,0.6300,476.0,SIDI-BEL-ABBES,,,,...,None,1880,1938,3,1,1,1,0,0,3
4,AGE00147719,,AG,33.7997,2.8900,767.0,LAGHOUAT,,,60545,...,None,1888,2025,4,1,1,1,0,0,3
5,AGM00060425,,AG,36.2130,1.3320,141.1,ECH CHELIFF,,,60425,...,None,1943,2025,5,1,1,1,0,1,4
6,AGM00060430,,AG,36.3000,2.2330,721.0,MILIANA,,,60430,...,None,1957,2025,5,1,1,1,0,1,4
7,AGM00060490,,AG,35.6240,-0.6210,89.9,ES SENIA,,,60490,...,None,1957,2025,5,1,1,1,0,1,4
8,AGM00060514,,AG,35.1670,2.3170,801.0,KSAR CHELLALA,,,60514,...,None,1995,2025,5,1,1,1,0,1,4
9,AGM00060515,,AG,35.3330,4.2060,459.0,BOU SAADA,,,60515,...,None,1984,2025,4,1,1,1,0,0,3
10,AGM00060522,,AG,34.8200,-1.7700,426.0,MAGHNIA,,,60522,...,None,1976,2025,5,1,1,1,0,1,4
11,AGM00060536,,AG,34.8670,0.1500,752.0,SAIDA,,,60536,...,None,1981,2025,5,1,1,1,0,1,4
12,AGM00060555,,AG,33.0680,6.0890,85.0,SIDI MAHDI,,,60555,...,None,1958,2025,4,1,1,1,0,0,3
13,AGM00060580,,AG,31.9170,5.4130,150.0,OUARGLA,,,60580,...,None,1957,2025,4,1,1,1,0,0,3
14,AJ000037742,,AJ,40.9000,47.3000,313.0,"ORDJONIKIDZE,ZERNOSOVHOZ",,,37742,...,None,1955,1987,1,0,0,1,0,0,1
15,AJ000037747,,AJ,40.6170,47.1500,15.0,EVLAKH AIRPORT,,,37747,...,None,1955,2025,5,1,1,1,0,1,4
16,AJ000037756,,AJ,40.5330,48.9330,755.0,MARAZA,,,37756,...,None,1955,2025,5,1,1,1,0,1,4
17,AJ000037816,,AJ,40.5000,46.1000,1655.0,DASHKESAN,,,37816,...,None,1963,1991,1,0,0,1,0,0,1
18,AJ000037899,,AJ,39.7670,46.7500,1355.0,SHUSHA,,,37899,...,None,1936,1991,5,1,1,1,0,1,4
19,AJ000037914,,AJ,39.9000,48.0000,-1.0,IMISLY,,,37914,...,None,1955,1991,1,0,0,1,0,0,1

In [7]:
#  How many stations are there in total?
total_stations = stations_enriched.count()
print("total_stations: ", total_stations)

# How many stations were active so far in 2025
active_2025 = stations_enriched.filter(F.col("LASTYEAR_ANY") >= 2025).count()
print("active stations in 2025: ", active_2025)

total_stations:  129657
active stations in 2025:  38481

In [8]:
# station network belongings analysis
network_counts = stations_enriched.select(
    F.when(F.col("GSN_FLAG").contains("GSN"), 1).otherwise(0).alias("is_GSN"),
    F.when(F.col("HCN_CRN").contains("HCN"), 1).otherwise(0).alias("is_HCN"),
    F.when(F.col("HCN_CRN").contains("CRN"), 1).otherwise(0).alias("is_CRN"),
).agg(
    F.sum("is_GSN").alias("GSN"),
    F.sum("is_HCN").alias("HCN"),
    F.sum("is_CRN").alias("CRN"),
)

show_as_html(network_counts)

   GSN   HCN  CRN
0  991  1218  234

In [9]:
# Are there any stations that are in more than one of these networks?
# multi-network station counts query critera: net_count >= 2
flags = stations_enriched.select(
    "ID",
    F.when(F.col("GSN_FLAG").contains("GSN"), 1).otherwise(0).alias("is_GSN"),
    F.when(F.col("HCN_CRN").contains("HCN"), 1).otherwise(0).alias("is_HCN"),
    F.when(F.col("HCN_CRN").contains("CRN"), 1).otherwise(0).alias("is_CRN"),
)

multi_network = (
    flags.withColumn("net_count", F.col("is_GSN") + F.col("is_HCN") + F.col("is_CRN"))
    .filter(F.col("net_count") >= 2)
    .select("ID", "is_GSN", "is_HCN", "is_CRN", "net_count")
)
show_as_html(multi_network)

print(
    f"multi_network number is {multi_network.count()}, and they all overlap with GSN and HCN."
)

             ID  is_GSN  is_HCN  is_CRN  net_count
0   USW00012921       1       1       0          2
1   USW00024128       1       1       0          2
2   USW00024213       1       1       0          2
3   USW00012836       1       1       0          2
4   USW00093193       1       1       0          2
5   USW00014771       1       1       0          2
6   USW00014922       1       1       0          2
7   USW00094008       1       1       0          2
8   USW00024144       1       1       0          2
9   USW00003870       1       1       0          2
10  USW00023044       1       1       0          2
11  USW00013782       1       1       0          2
12  USW00023051       1       1       0          2
13  USW00014742       1       1       0          2
14  USW00093729       1       1       0          2

multi_network number is 15, and they all overlap with GSN and HCN.

### (b)

In [10]:
# How many stations are there in the Southern_Hemisphere?
southern_hemisphere = stations_enriched.filter(F.col("LATITUDE") < 0).count()
print("southern_hemisphere count: ", southern_hemisphere)

southern_hemisphere count:  25357

In [27]:
# identify us_territories, excluding the United States it self
# How many stations are there in total in the territories of the United States, excluding the United States itself?
us_territories = (
    stations_enriched.filter(
        (F.col("COUNTRY_NAME").contains("United States"))
        & (F.trim(F.col("COUNTRY_NAME")) != "United States")
    )
    .groupBy("COUNTRY_NAME")
    .agg(F.count("*").alias("STATION_NUM"))
)


show_as_html(us_territories)
us_territories_station_num = us_territories.agg(
    F.sum("station_num").alias("us_territories_station_num")
)
show_as_html(us_territories_station_num)

                                COUNTRY_NAME  STATION_NUM
0  Northern Mariana Islands [United States]            11
1               Puerto Rico [United States]           260
2                      Guam [United States]            34
3            Johnston Atoll [United States]             4
4            American Samoa [United States]            21
5            Virgin Islands [United States]            77
6            Midway Islands [United States}             3
7             Palmyra Atoll [United States]             3
8                Wake Island [United States]            1

   us_territories_station_num
0                         414

### (c)

In [31]:
# groupby country and states and count, save
station_num_by_country = (
    stations_enriched.groupBy("COUNTRY_CODE", "COUNTRY_NAME")
    .agg(F.count("*").alias("STATION_NUM"))
    .orderBy(F.desc("STATION_NUM"))
)

show_as_html(station_num_by_country)

   COUNTRY_CODE                  COUNTRY_NAME  STATION_NUM
0            US                United States         75846
1            AS                    Australia         17088
2            CA                       Canada          9269
3            BR                        Brazil         5989
4            MX                       Mexico          5249
5            IN                        India          3807
6            SW                       Sweden          1721
7            SF                 South Africa          1166
8            RS                       Russia          1123
9            GM                      Germany          1123
10           FI                      Finland           922
11           NO                       Norway           461
12           NL                  Netherlands           386
13           KZ                   Kazakhstan           329
14           WA                      Namibia           283
15           RQ  Puerto Rico [United States]           260
16           CH                       China            228
17           SP                        Spain           207
18           UP                      Ukraine           204
19           JA                        Japan           202

In [ ]:
us_territories.write.parquet(station_count_us_terri_path, mode="overwrite")
station_count_by_country.write.parquet(station_count_by_country_path, mode="overwrite")

In [35]:
# check save result
!hdfs dfs -ls -h  {station_count_us_terri_path}
!hdfs dfs -ls -h  {station_count_by_country_path}

Found 2 items
-rw-r--r--   1 yxi75 supergroup          0 2025-09-11 22:33 wasbs://campus-user@madsstorage002.blob.core.windows.net/yxi75/station_count_us_terri_parquet/_SUCCESS
-rw-r--r--   1 yxi75 supergroup      1.0 K 2025-09-11 22:33 wasbs://campus-user@madsstorage002.blob.core.windows.net/yxi75/station_count_us_terri_parquet/part-00000-d18e990b-4a7a-473d-9af2-026bd89f18b8-c000.snappy.parquet
Found 2 items
-rw-r--r--   1 yxi75 supergroup          0 2025-09-11 22:33 wasbs://campus-user@madsstorage002.blob.core.windows.net/yxi75/station_count_by_country_parquet/_SUCCESS
-rw-r--r--   1 yxi75 supergroup      4.9 K 2025-09-11 22:33 wasbs://campus-user@madsstorage002.blob.core.windows.net/yxi75/station_count_by_country_parquet/part-00000-a9a82280-57a4-4320-b10d-01995f268f70-c000.snappy.parquet

In [55]:
# load countries meta table for join
countries_df = (
    spark.read.text(paths["countries"])
    .withColumn("CODE", F.substring("value", 1, 2))
    .withColumn("COUNTRY_NAME", F.substring("value", 4, 61))
    .withColumnRenamed("CODE", "COUNTRY_CODE")
    .drop("value")
)

# join country counts onto countries
country_meta_with_station_num = countries_df.join(
    station_count_by_country.withColumnRenamed("count", "STATION_NUM"),
    on=["COUNTRY_NAME", "COUNTRY_CODE"],
    how="left",
).orderBy("COUNTRY_NAME")

show_as_html(country_meta_with_station_num)

                       COUNTRY_NAME COUNTRY_CODE  STATION_NUM
0                       Afghanistan           AF            4
1                           Albania           AL            3
2                          Algeria            AG           87
3   American Samoa [United States]            AQ           21
4                           Angola            AO            6
5                       Antarctica            AY          102
6              Antigua and Barbuda            AC            2
7                        Argentina            AR          101
8                          Armenia            AM           53
9                        Australia            AS        17088
10                         Austria            AU           13
11                      Azerbaijan            AJ           66
12                    Bahamas, The            BF           72
13                         Bahrain            BA            1
14                       Bangladesh           BG           10
15                        Barbados            BB            1
16                         Belarus            BO           51
17                         Belgium            BE            1
18                           Belize           BH            1
19                           Benin            BN            9

In [56]:
# save to country_meta_with_station_num_path
country_meta_with_station_num.write.parquet(
    country_meta_with_station_num_path, "overwrite"
)

25/09/11 22:55:21 WARN AzureFileSystemThreadPoolExecutor: Disabling threads for Delete operation as thread count 0 is <= 1

In [57]:
!hdfs dfs -ls {country_meta_with_station_num_path}

Found 2 items
-rw-r--r--   1 yxi75 supergroup          0 2025-09-11 22:55 wasbs://campus-user@madsstorage002.blob.core.windows.net/yxi75/country_meta_with_station_num/_SUCCESS
-rw-r--r--   1 yxi75 supergroup       4945 2025-09-11 22:55 wasbs://campus-user@madsstorage002.blob.core.windows.net/yxi75/country_meta_with_station_num/part-00000-c99a29ad-f800-4baf-983d-16f1b86a58a2-c000.snappy.parquet

In [69]:
station_count_by_state = stations_enriched.groupBy("STATE", "STATE_NAME").agg(
    F.count("*").alias("STATION_NUM")
)
show_as_html(station_count_by_state, 3)

  STATE   STATE_NAME  STATION_NUM
0    NS  NOVA SCOTIA          398
1    NE     NEBRASKA         2436
2    IA         IOWA         1106

In [70]:
states_df = (
    spark.read.text(paths["states"])
    .withColumn("CODE", F.substring("value", 1, 2))
    .withColumn("STATE_NAME", F.substring("value", 4, 47))
    .drop("value")
)
show_as_html(states_df, 3)

  CODE                                       STATE_NAME
0   AB                                          ALBERTA
1   AK                                           ALASKA
2   AL  ALABAMA

In [76]:
states_meta_with_station_num = (
    states_df.withColumnRenamed("CODE", "STATE_CODE")
    .join(
        station_count_by_state.withColumnRenamed("STATE", "STATE_CODE"),
        on=["STATE_NAME", "STATE_CODE"],
        how="left",
    )
    .orderBy(F.desc("STATION_NUM"))
)

show_as_html(states_meta_with_station_num)

          STATE_NAME STATE_CODE  STATION_NUM
0              TEXAS         TX         6472
1           COLORADO         CO         4784
2         CALIFORNIA         CA         3166
3     NORTH CAROLINA         NC         2747
4          MINNESOTA         MN         2675
5           NEBRASKA         NE         2436
6             KANSAS         KS         2401
7         NEW MEXICO         NM         2295
8            FLORIDA         FL         2244
9           ILLINOIS         IL         2234
10            OREGON         OR         2031
11           ONTARIO         ON         2021
12           INDIANA         IN         2020
13          NEW YORK         NY         1912
14         TENNESSEE         TN         1755
15  BRITISH COLUMBIA         BC         1720
16        WASHINGTON         WA         1694
17           ARIZONA         AZ         1692
18      PENNSYLVANIA         PA         1641
19          MISSOURI         MO         1624

In [78]:
states_meta_with_station_num.write.parquet(
    states_meta_with_station_num_path, "overwrite"
)

25/09/11 23:18:14 WARN AzureFileSystemThreadPoolExecutor: Disabling threads for Delete operation as thread count 0 is <= 1

In [83]:
# check USER_ROOT storage status
!hdfs dfs -ls -h {USER_ROOT}

Found 5 items
drwxr-xr-x   - yxi75 supergroup          0 2025-09-11 22:55 wasbs://campus-user@madsstorage002.blob.core.windows.net/yxi75/country_meta_with_station_num
drwxr-xr-x   - yxi75 supergroup          0 2025-09-11 23:18 wasbs://campus-user@madsstorage002.blob.core.windows.net/yxi75/states_meta_with_station_num
drwxr-xr-x   - yxi75 supergroup          0 2025-09-11 22:33 wasbs://campus-user@madsstorage002.blob.core.windows.net/yxi75/station_count_by_country_parquet
drwxr-xr-x   - yxi75 supergroup          0 2025-09-11 22:33 wasbs://campus-user@madsstorage002.blob.core.windows.net/yxi75/station_count_us_terri_parquet
drwxr-xr-x   - yxi75 supergroup          0 2025-09-11 18:30 wasbs://campus-user@madsstorage002.blob.core.windows.net/yxi75/stations_enriched_parquet

## Q2 Distance User Define Function

### (a) User Define Function: Haversine Distance

## ðŸŒ Haversine Distance Formula

The **Haversine formula** is used to calculate the great-circle distance between two points 
on a sphere (such as the Earth), given their latitude and longitude.

---

### 1. Definitions

Let two points be defined as:

- Point 1: $(\phi_1, \lambda_1)$  
- Point 2: $(\phi_2, \lambda_2)$  

where:
- $\phi$ = latitude (in radians)  
- $\lambda$ = longitude (in radians)  
- $R$ = radius of the Earth (mean radius â‰ˆ 6,371 km)

---

### 2. Formula

The haversine function is defined as:

$$
\text{hav}(\theta) = \sin^2\!\left(\frac{\theta}{2}\right)
$$

Using this, the central angle $c$ between two points is:

$$
a = \sin^2\!\left(\frac{\Delta \phi}{2}\right) + 
    \cos(\phi_1) \cdot \cos(\phi_2) \cdot \sin^2\!\left(\frac{\Delta \lambda}{2}\right)
$$

$$
c = 2 \cdot \arcsin(\sqrt{a})
$$

Finally, the distance $d$ is:

$$
d = R \cdot c
$$

where:
- $\Delta \phi = \phi_2 - \phi_1$  
- $\Delta \lambda = \lambda_2 - \lambda_1$

---

### 3. Notes

- The Haversine formula accounts for Earthâ€™s curvature, making it more accurate 
  than a simple Euclidean distance in geographic applications.  
- It is sufficiently precise for most data science and GIS tasks.  
- For centimeter-level accuracy (e.g., geodesy, GPS), ellipsoidal models such as 
  **Vincentyâ€™s formula** or the **WGS84 geodesic** method should be used.


  (This part is generated by chatGPT)

### Haversine UDF

In [88]:
# Haversine UDF
from math import asin, cos, radians, sin, sqrt

from pyspark.sql.functions import udf


def haversine_km(lat1, lon1, lat2, lon2):
    R = 6371.0088  # mean Earth radius in km
    phi1, phi2 = radians(lat1), radians(lat2)
    dphi = radians(lat2 - lat1)
    dlambda = radians(lon2 - lon1)
    a = sin(dphi / 2) ** 2 + cos(phi1) * cos(phi2) * sin(dlambda / 2) ** 2
    c = 2 * asin(sqrt(a))
    return float(R * c)


# register UDF
haversine_udf = udf(haversine_km, DoubleType())

### test udf within subset stations

In [92]:
# test udf within subset stations
test_stations = stations_enriched.limit(10)
show_as_html(test_stations)

,ID,STATE,COUNTRY_CODE,LATITUDE,LONGITUDE,ELEVATION,NAME,GSN_FLAG,HCN_CRN,WMO_ID,...,STATE_NAME,FIRSTYEAR_ANY,LASTYEAR_ANY,N_ELEMENTS,TMAX,TMIN,PRCP,SNOW,SNWD,N_CORE_ELEMENTS
0,AE000041196,,AE,25.3330,55.5170,34.0,SHARJAH INTER. AIRP,GSN,,41196,...,None,1944,2025,4,1,1,1,0,0,3
1,AEM00041218,,AE,24.2620,55.6090,264.9,AL AIN INTL,,,41218,...,None,1994,2025,4,1,1,1,0,0,3
2,AGE00147715,,AG,35.4200,8.1197,863.0,TEBESSA,,,,...,None,1879,1938,3,1,1,1,0,0,3
3,AGE00147717,,AG,35.2000,0.6300,476.0,SIDI-BEL-ABBES,,,,...,None,1880,1938,3,1,1,1,0,0,3
4,AGE00147719,,AG,33.7997,2.8900,767.0,LAGHOUAT,,,60545,...,None,1888,2025,4,1,1,1,0,0,3
5,AGM00060425,,AG,36.2130,1.3320,141.1,ECH CHELIFF,,,60425,...,None,1943,2025,5,1,1,1,0,1,4
6,AGM00060430,,AG,36.3000,2.2330,721.0,MILIANA,,,60430,...,None,1957,2025,5,1,1,1,0,1,4
7,AGM00060490,,AG,35.6240,-0.6210,89.9,ES SENIA,,,60490,...,None,1957,2025,5,1,1,1,0,1,4
8,AGM00060514,,AG,35.1670,2.3170,801.0,KSAR CHELLALA,,,60514,...,None,1995,2025,5,1,1,1,0,1,4
9,AGM00060515,,AG,35.3330,4.2060,459.0,BOU SAADA,,,60515,...,None,1984,2025,4,1,1,1,0,0,3

In [93]:
# generate station pairs

# SELF CROSS JOIN within test_stations
left = test_stations.select(
    F.col("ID").alias("ID_A"),
    F.col("NAME").alias("NAME_A"),
    F.col("LATITUDE").alias("LAT_A"),
    F.col("LONGITUDE").alias("LON_A"),
)
right = test_stations.select(
    F.col("ID").alias("ID_B"),
    F.col("NAME").alias("NAME_B"),
    F.col("LATITUDE").alias("LAT_B"),
    F.col("LONGITUDE").alias("LON_B"),
)

test_pairs = left.crossJoin(right).filter(F.col("ID_A") < F.col("ID_B"))

test_pairs = test_pairs.withColumn(
    "DIST_KM", haversine_udf("LAT_A", "LON_A", "LAT_B", "LON_B")
)
show_as_html(test_pairs)

,ID_A,NAME_A,LAT_A,LON_A,ID_B,NAME_B,LAT_B,LON_B,DIST_KM
0,AG000060680,TAMANRASSET,22.800,5.4331,AGE00147794,BEJAIA-CAP CARBON,36.780,5.100,1554.836252
1,AG000060680,TAMANRASSET,22.800,5.4331,AGM00060351,JIJEL,36.795,5.874,1556.750841
2,AG000060680,TAMANRASSET,22.800,5.4331,AGM00060353,JIJEL-PORT,36.817,5.883,1559.219777
3,AG000060680,TAMANRASSET,22.800,5.4331,AGM00060419,MOHAMED BOUDIAF INTL,36.276,6.620,1502.817981
4,AG000060680,TAMANRASSET,22.800,5.4331,AGM00060550,EL-BAYADH,33.667,1.000,1283.611711
5,AG000060680,TAMANRASSET,22.800,5.4331,AGM00060563,HASSIR'MEL,32.933,3.283,1146.297735
6,AG000060680,TAMANRASSET,22.800,5.4331,AGM00060670,TISKA,24.293,9.452,442.002990
7,AG000060680,TAMANRASSET,22.800,5.4331,AJ000037639,AGSTAPHA AIRPORT,41.133,45.417,4236.617857
8,AG000060680,TAMANRASSET,22.800,5.4331,AJ000037656,ADJINAURSKAYA_STEP',41.200,46.800,4350.094399
9,AGE00147794,BEJAIA-CAP CARBON,36.780,5.1000,AGM00060351,JIJEL,36.795,5.874,68.946174
10,AGE00147794,BEJAIA-CAP CARBON,36.780,5.1000,AGM00060353,JIJEL-PORT,36.817,5.883,69.838733
11,AGE00147794,BEJAIA-CAP CARBON,36.780,5.1000,AGM00060419,MOHAMED BOUDIAF INTL,36.276,6.620,146.921796
12,AGE00147794,BEJAIA-CAP CARBON,36.780,5.1000,AGM00060550,EL-BAYADH,33.667,1.000,508.348378
13,AGE00147794,BEJAIA-CAP CARBON,36.780,5.1000,AGM00060563,HASSIR'MEL,32.933,3.283,458.743957
14,AGE00147794,BEJAIA-CAP CARBON,36.780,5.1000,AGM00060670,TISKA,24.293,9.452,1449.209308
15,AGE00147794,BEJAIA-CAP CARBON,36.780,5.1000,AJ000037639,AGSTAPHA AIRPORT,41.133,45.417,3488.136797
16,AGE00147794,BEJAIA-CAP CARBON,36.780,5.1000,AJ000037656,ADJINAURSKAYA_STEP',41.200,46.800,3602.576212
17,AGM00060351,JIJEL,36.795,5.8740,AGM00060353,JIJEL-PORT,36.817,5.883,2.574176
18,AGM00060351,JIJEL,36.795,5.8740,AGM00060419,MOHAMED BOUDIAF INTL,36.276,6.620,88.162740
19,AGM00060351,JIJEL,36.795,5.8740,AGM00060550,EL-BAYADH,33.667,1.000,562.845643

In [94]:
# select New Zealand stations
nz_stations = stations_enriched.filter(
    F.col("COUNTRY_NAME").contains("New Zealand")
).select("ID", "NAME", "LATITUDE", "LONGITUDE")

# SELF CROSS JOIN within newzealand
left = nz_stations.select(
    F.col("ID").alias("ID_A"),
    F.col("NAME").alias("NAME_A"),
    F.col("LATITUDE").alias("LAT_A"),
    F.col("LONGITUDE").alias("LON_A"),
)
right = nz_stations.select(
    F.col("ID").alias("ID_B"),
    F.col("NAME").alias("NAME_B"),
    F.col("LATITUDE").alias("LAT_B"),
    F.col("LONGITUDE").alias("LON_B"),
)

pairs = left.crossJoin(right).filter(F.col("ID_A") < F.col("ID_B"))

pairs = pairs.withColumn("DIST_KM", haversine_udf("LAT_A", "LON_A", "LAT_B", "LON_B"))

In [95]:
show_as_html(pairs)

,ID_A,NAME_A,LAT_A,LON_A,ID_B,NAME_B,LAT_B,LON_B,DIST_KM
0,NZ000936150,HOKITIKA AERODROME,-42.717,170.983,NZ000937470,TARA HILLS,-44.517,169.900,218.309321
1,NZ000936150,HOKITIKA AERODROME,-42.717,170.983,NZ000939870,CHATHAM ISLANDS AWS,-43.950,-176.567,1015.251566
2,NZ000936150,HOKITIKA AERODROME,-42.717,170.983,NZM00093781,CHRISTCHURCH INTL,-43.489,172.532,152.258567
3,NZ000936150,HOKITIKA AERODROME,-42.717,170.983,NZM00093110,AUCKLAND AERO AWS,-37.000,174.800,714.127832
4,NZ000936150,HOKITIKA AERODROME,-42.717,170.983,TL000091724,NUKUNONO,-9.200,-171.917,4082.088199
5,NZ000936150,HOKITIKA AERODROME,-42.717,170.983,NZ000939450,CAMPBELL ISLAND AWS,-52.550,169.167,1101.720586
6,NZ000936150,HOKITIKA AERODROME,-42.717,170.983,NZM00093439,WELLINGTON AERO AWS,-41.333,174.800,350.796507
7,NZ000936150,HOKITIKA AERODROME,-42.717,170.983,NZM00093929,ENDERBY ISLAND AWS,-50.483,166.300,934.248833
8,NZ000936150,HOKITIKA AERODROME,-42.717,170.983,NZM00093678,KAIKOURA,-42.417,173.700,224.981589
9,NZ000937470,TARA HILLS,-44.517,169.900,NZ000939870,CHATHAM ISLANDS AWS,-43.950,-176.567,1078.799953
10,NZ000937470,TARA HILLS,-44.517,169.900,NZM00093781,CHRISTCHURCH INTL,-43.489,172.532,239.530461
11,NZ000939870,CHATHAM ISLANDS AWS,-43.950,-176.567,NZM00093781,CHRISTCHURCH INTL,-43.489,172.532,876.909075
12,NZ000937470,TARA HILLS,-44.517,169.900,NZM00093110,AUCKLAND AERO AWS,-37.000,174.800,931.744249
13,NZ000939870,CHATHAM ISLANDS AWS,-43.950,-176.567,NZM00093110,AUCKLAND AERO AWS,-37.000,174.800,1062.046480
14,NZ000937470,TARA HILLS,-44.517,169.900,TL000091724,NUKUNONO,-9.200,-171.917,4299.297371
15,NZ000937470,TARA HILLS,-44.517,169.900,NZ000939450,CAMPBELL ISLAND AWS,-52.550,169.167,894.846229
16,NZ000937470,TARA HILLS,-44.517,169.900,NZM00093439,WELLINGTON AERO AWS,-41.333,174.800,533.227413
17,NZ000937470,TARA HILLS,-44.517,169.900,NZM00093929,ENDERBY ISLAND AWS,-50.483,166.300,716.176359
18,NZ000939870,CHATHAM ISLANDS AWS,-43.950,-176.567,TL000091724,NUKUNONO,-9.200,-171.917,3890.098209
19,NZ000939870,CHATHAM ISLANDS AWS,-43.950,-176.567,NZM00093439,WELLINGTON AERO AWS,-41.333,174.800,763.267727

### (b) closest station pair in NZ

In [107]:
closest_pair = pairs.orderBy(F.col("DIST_KM").asc()).limit(1)
closest_pair.show(truncate=False)

stationA = closest_pair.first()["ID_A"]
stationB = closest_pair.first()["ID_B"]
print(f"The closest station pair in New Zealand is station {stationA} and {stationB}")

+-----------+------------------------------+-----+-------+-----------+------------------------------+-------+-----+-----------------+
|ID_A       |NAME_A                        |LAT_A|LON_A  |ID_B       |NAME_B                        |LAT_B  |LON_B|DIST_KM          |
+-----------+------------------------------+-----+-------+-----------+------------------------------+-------+-----+-----------------+
|NZ000093417|PARAPARAUMU AWS               |-40.9|174.983|NZM00093439|WELLINGTON AERO AWS           |-41.333|174.8|50.52909627580285|
+-----------+------------------------------+-----+-------+-----------+------------------------------+-------+-----+-----------------+

The closest station pair in New Zealand is station NZ000093417 and NZM00093439

## Q3 Daily Climate Summaries Study

### (a) Core Element stat

In [116]:
# load daily
daily_schema = StructType(
    [
        StructField("ID", StringType()),  # Character Station code
        StructField(
            "DATE", StringType()
        ),  # Date Observation date formatted as YYYYMMDD
        StructField("ELEMENT", StringType()),  # Character Element type indicator
        StructField("VALUE", DoubleType()),  # Real Data value for ELEMENT
        StructField("MEASUREMENT", StringType()),  # Character Measurement Flag
        StructField("QUALITY", StringType()),  # Character Quality Flag
        StructField("SOURCE", StringType()),  # Character Source Flag
        StructField("TIME", StringType()),  # Time Observation time formatted as HHMM
    ]
)

daily = spark.read.csv(paths["daily"], schema=daily_schema)

show_as_html(daily)

             ID      DATE ELEMENT  VALUE MEASUREMENT QUALITY SOURCE  TIME
0   ASN00030019  20100101    PRCP   24.0        None    None      a  None
1   ASN00030021  20100101    PRCP  200.0        None    None      a  None
2   ASN00030022  20100101    TMAX  294.0        None    None      a  None
3   ASN00030022  20100101    TMIN  215.0        None    None      a  None
4   ASN00030022  20100101    PRCP  408.0        None    None      a  None
5   ASN00029121  20100101    PRCP  820.0        None    None      a  None
6   ASN00029126  20100101    TMAX  371.0        None    None      S  None
7   ASN00029126  20100101    TMIN  225.0        None    None      S  None
8   ASN00029126  20100101    PRCP    0.0        None    None      a  None
9   ASN00029126  20100101    TAVG  298.0           H    None      S  None
10  ASN00029127  20100101    TMAX  371.0        None    None      a  None
11  ASN00029127  20100101    TMIN  225.0        None    None      a  None
12  ASN00029127  20100101    PRCP    8.0        None    None      a  None
13  ASN00029129  20100101    PRCP  174.0        None    None      a  None
14  ASN00029130  20100101    PRCP   86.0        None    None      a  None
15  ASN00029131  20100101    PRCP   56.0        None    None      a  None
16  ASN00029132  20100101    PRCP  800.0        None    None      a  None
17  ASN00029136  20100101    PRCP   22.0        None    None      a  None
18  ASN00029137  20100101    PRCP    0.0        None    None      a  None
19  ASN00029139  20100101    TMAX  298.0        None    None      a  None

In [119]:
# filter daily records containing only the five core elements
core_elems = ["TMAX", "TMIN", "PRCP", "SNOW", "SNWD"]
daily_core = daily.filter(F.col("ELEMENT").isin(core_elems))
show_as_html(daily_core)

             ID      DATE ELEMENT  VALUE MEASUREMENT QUALITY SOURCE  TIME
0   ASN00030019  20100101    PRCP   24.0        None    None      a  None
1   ASN00030021  20100101    PRCP  200.0        None    None      a  None
2   ASN00030022  20100101    TMAX  294.0        None    None      a  None
3   ASN00030022  20100101    TMIN  215.0        None    None      a  None
4   ASN00030022  20100101    PRCP  408.0        None    None      a  None
5   ASN00029121  20100101    PRCP  820.0        None    None      a  None
6   ASN00029126  20100101    TMAX  371.0        None    None      S  None
7   ASN00029126  20100101    TMIN  225.0        None    None      S  None
8   ASN00029126  20100101    PRCP    0.0        None    None      a  None
9   ASN00029127  20100101    TMAX  371.0        None    None      a  None
10  ASN00029127  20100101    TMIN  225.0        None    None      a  None
11  ASN00029127  20100101    PRCP    8.0        None    None      a  None
12  ASN00029129  20100101    PRCP  174.0        None    None      a  None
13  ASN00029130  20100101    PRCP   86.0        None    None      a  None
14  ASN00029131  20100101    PRCP   56.0        None    None      a  None
15  ASN00029132  20100101    PRCP  800.0        None    None      a  None
16  ASN00029136  20100101    PRCP   22.0        None    None      a  None
17  ASN00029137  20100101    PRCP    0.0        None    None      a  None
18  ASN00029139  20100101    TMAX  298.0        None    None      a  None
19  ASN00029139  20100101    TMIN  270.0        None    None      a  None

In [122]:
# groupby ELEMENT count
elem_counts = (
    daily_core.groupBy("ELEMENT")
    .agg(F.count("*").alias("OBSERVATION_COUNT"))
    .orderBy(F.desc("OBSERVATION_COUNT"))
)

show_as_html(elem_counts)

  ELEMENT  OBSERVATION_COUNT
0    PRCP         1084610240
1    TMAX          461915395
2    TMIN          460752965
3    SNOW          361688529
4    SNWD          302055219

In [128]:
print(f"The most observations is PRCP.")

The most observations is PRCP.

### (b) TMIN TMAX

In [129]:
# filter records which reports TMAX but TMINï¼šbase on ï¼ˆID, DATEï¼‰
tmax = daily.filter(F.col("ELEMENT") == "TMAX").select(
    F.col("ID").alias("ID_T"), F.col("DATE").alias("DATE_T")
)

tmin = daily.filter(F.col("ELEMENT") == "TMIN").select(
    F.col("ID").alias("ID_N"), F.col("DATE").alias("DATE_N")
)

In [130]:
# left_anti join to find the part which left(tmax) have but right(tmin) haven't
tmax_no_tmin = tmax.join(
    tmin, (tmax.ID_T == tmin.ID_N) & (tmax.DATE_T == tmin.DATE_N), how="left_anti"
)
tmax_no_tmin_count = tmax_no_tmin.count()

show_as_html(tmax_no_tmin)

           ID_T    DATE_T
0   AE000041196  19560704
1   AE000041196  19570607
2   AE000041196  19580617
3   AE000041196  19590525
4   AE000041196  19650714
5   AE000041196  19650813
6   AE000041196  19770612
7   AE000041196  19770904
8   AE000041196  19780117
9   AE000041196  19780619
10  AE000041196  19780910
11  AE000041196  19780918
12  AE000041196  19781018
13  AE000041196  19781024
14  AE000041196  19781113
15  AE000041196  19790215
16  AE000041196  19790420
17  AE000041196  19790508
18  AE000041196  19790517
19  AE000041196  19790609

In [132]:
print(f"Number of TMAX observations without corresponding TMIN: {tmax_no_tmin_count}")

Number of TMAX observations without corresponding TMIN: 10735252

In [ ]:
# unique stations which contribute to missing_pairs count
unique_stations_missing = tmax_no_tmin.select("ID_T").distinct().count()
show_as_html(unique_stations_missing)

print(f"tmax_no_tmin_count = {tmax_no_tmin_count}")
print(f"unique_stations_missing = {unique_stations_missing}")

[Stage 233:==>           (16 + 8) / 107][Stage 234:>              (0 + 0) / 107]

In [133]:
print(f"Number of unique stations contributing to TMAX observations without corresponding TMIN: {unique_stations_missing}")

Number of unique stations contributing to TMAX observations without corresponding TMIN: 28751

In [134]:
stop_spark()

25/09/12 01:19:46 WARN ExecutorPodsWatchSnapshotSource: Kubernetes client has been closed.